{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true
  },
  "plugins": ["import"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
    "ecmaFeatures": {
      "modules": false
    }
  },
  "rules": {
    "no-else-return": "off",
    "max-len": "off",
    "func-names": "off",
    "import/no-dynamic-require": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "no-underscore-dangle": ["off"],
    "strict": [2, "global"],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ]
  },
  "globals": {
    "CustomError": true,
    "helperUtils": true,
    "allDoneExit": true,
    "User": true,
    "Meta": true,
    "Payment": true,
    "DataCoalition": true,
    "accessToken": true,
    "AccessToken": true,
    "ACL": true,
    "RoleMapping": true,
    "Role": true,
    "RMUser": true,
    "userCredential": true,
    "UserCredential": true,
    "userIdentity": true,
    "UserIdentity": true,
    "Email": true,
    "Product": true,
    "Category": true,
    "Location": true,
    "Address": true,
    "Cart": true,
    "CartItem": true,
    "Order": true,
    "PricingModel": true,
    "ProductVariant": true,
    "ProductImage": true,
    "ProductVariantPricingModel": true,
    "TenureMapping": true,
    "ProductCategoryLocation": true,
    "PopularProduct": true,
    "OrderItem": true,
    "CategoryLocation": true,
    "Asset": true,
    "Coupon": true,
    "CouponSKU": true,
    "CouponCategory": true,
    "CouponLocation": true,
    "CouponTenure": true,
    "CouponTenureMonthDiscount": true,
    "ContactQuery": true,
    "DatabaseBackup": true,
    "RMMessage": true,
    "RMEmail": true,
    "RelatedProduct": true,
    "Document": true,
    "OrderRent": true,
    "PaymentTransaction": true,
    "Device": true,
    "ProductDetail": true,
    "ProductFeature": true,
    "PackageProductVariant": true,
    "ProductFilter": true,
    "ProductTag": true,
    "Tag": true,
    "OrderItemRent": true,
    "OrderComment": true,
    "PaymentTransactionLink": true,
    "PaymentGatewayRequestLog": true,
    "OrderStatusLog": true,
    "OrderItemStatusLog": true,
    "PaymentAdjustment": true,
    "PaymentAdjustmentType": true,
    "AuditLog": true,
    "NotifyMe": true,
    "Invoice": true,
    "ProductDuplicate": true,
    "Survey": true,
    "BrokerLead": true,
    "CustomerLead": true,
    "Broker": true,
    "RMBroker": true,
    "BrokerComment": true,
    "BrokerCommission": true,
    "BrokerCommissionRate": true,
    "BrokerAccessToken": true,
    "BrokerDocument": true,
    "BrokerSalesMember": true,
    "BrokerSalesMemberAccessToken": true,
    "BrokerRateCardConfig": true,
    "BrokerExcludedCoupon": true,
    "BrokerTnC": true,
    "FieldExecutive": true,
    "FieldExecutiveAccessToken": true,
    "MailChimp": true,
    "PaymentReminder": true,
    "AppOffer": true,
    "RentoLeadsDevice": true,
    "Filter": true,
    "Container": true,
    "CategoryFilter": true,
    "OrderItemMetadata": true,
    "OrderItemCouponDiscount": true,
    "OrderItemLateFee": true,
    "Razorpay": true,
    "OrderExportLog": true,
    "BikeNotifyMe": true,
    "ReferralMapping": true,
    "ReferralConfig": true,
    "WalletTransaction": true,
    "LocationLayoutCache": true,
    "Freshdesk": true,
    "KycStatusLog": true,
    "KycStatusTag": true,
    "ProductVariantWhyRent": true,
    "EMIPercentMV": true,
    "KnowYourProduct": true,
    "SkuCategoryMapping": true,
    "SocialProfileLink": true,
    "OfflineStore": true,
    "OfflineTransactionToken": true,
    "LateFeeWaiveLog": true,
    "Campaign": true,
    "CampaignCategoryLocation": true,
    "RVP": true,
    "RVPItem": true,
    "RMRole": true,
    "Api": true,
    "ACLFeature": true,
    "ACLFeatureApi": true,
    "ServiceRequest": true,
    "ServiceRequestImage": true,
    "ServiceRequestOrderItem": true,
    "ServiceRequestMessage": true,
    "ServiceRequestStatusLog": true,
    "OrderItemExtension": true,
    "OrderItemClosureCharge": true,
    "Feedback": true,
    "SeoMapping": true,
    "CloudAgentMapping": true,
    "CloudAgentCall": true,
    "UserDataAccessLog": true,
    "Locus": true,
    "LocusBatch": true,
    "LocusTask": true,
    "LocusTaskItem": true,
    "KycDocRequired": true,
    "RMUserDeviceMapping": true,
    "DeviceSyncTransit": true,
    "DeviceDump": true,
    "DevicePermission": true,
    "UserProfile": true,
    "RazorpayCustomer": true,
    "BankAccount": true,
    "RazorpayCustomerCard": true,
    "UserProfileVerification": true,
    "PendingRentomoney": true,
    "DocumentDetail": true,
    "ProfileRentomoneyLog": true,
    "NachRequest": true,
    "SocialRating": true,
    "DocumentType": true,
    "DocumentCategory": true,
    "DocumentTypeCategory": true,
    "RecurringPaymentLog": true,
    "OrderKycDocRequired": true
  }
}
